#container {
    width: 1000px;
    height: 1000px;
    background-color: aqua;
    overflow: hidden;
    position: absolute;
}

#mask {
    transition-property: transform, left, top;
    transition-duration: 200ms;
    transition-timing-function: linear, ease-in-out;
}

#mask.mask-drag {
    transition: none;
}


.map-img {
    width: 200px;
    height: 200px;
    position: absolute;
}