* {
    padding: 0;
    margin: 0;
}


#container {
    width: 1000px;
    height: 1000px;
    background-color: aqua;
    overflow: hidden;
    position: absolute;
}

#mask {
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: linear;
}

#mask.mask-drag {
    transition: none;
}


.map-img {
    width: 200px;
    height: 200px;
    font-size: large;
    font-weight: 600;
    text-align: center;
    line-height: 200px;
    background-color: gray;
    box-sizing: content-box;
    border: 1px solid brown;
    position: absolute;
    overflow: hidden;
}

.map-img>img {
    position: relative;
}